#logo {
    position: absolute;
    left: 5px;
}

.menu {
    width: 900px;
    text-align: center;
    margin: 5px auto;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu>a {
    text-decoration: none;
    color: crimson;
    font-size: 20px;
    margin: 0 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}